@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@layer components {
  .bg-mob {
    background-image: url('./assets/Cloud33.png');

  }

  /* .bg-all {
    background-image: url('../src/assets/Hero.png');

  } */

  .bg-hero {
    background-image: url('./assets/fire33.jpg');

  }
  
}

@layer base {
  body {
    background-image: url("./assets/fire33.jpg");
    background-position: center;
    background-size:auto;

  }
    .glossy-overlay {
      @apply relative inset-0 bg-black/20 backdrop-blur-xl border-2 border-white/10 rounded-4xl;
    }

}